* {
	scrollbar-color: #454a4d #202324;
}

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	background-color: #181a1b;
	color: #cecac3;
	​font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	line-height: 1;
	font-weight: lighter;
}

a:link {
	text-decoration: none;
	color: #0074a6;
}

a:visited {
	text-decoration: none;
	color: #0074a6;
}

a:hover {
	text-decoration: none;
	color: #57a2c2;
}

a:active {
	text-decoration: none;
	color: #57a2c2;
}


.container {
	width: 100%;
	height: 100%;
}

.content {
	margin: auto;
	width: 50%;
	text-align: left;
	padding: 10px;
	margin-top: 24px;
}


.topHeader {
	font-size: 44px;
	width: 100%;
	padding: 14px;
	border-bottom-style: solid;
	border-bottom-color: #353a3c;
	border-bottom-width: 1px;
}

.repoHead {
	font-size: 34px;
	margin-bottom: 10px;
	padding: 10px;
	width: 100%;
	border-bottom-style: solid;
	border-bottom-color: #353a3c;
	border-bottom-width: 1px;
}

.rssHead {
	font-size: 25px;
	font-style: italic;
	margin-bottom: 10px;
	padding: 10px;
	width: 100%;
	display: block;
	border-bottom-style: solid;
	border-bottom-color: #353a3c;
	border-bottom-width: 1px;
}

.conSpan {
	background-color: rgb(28, 30, 31);
	width: 100%;
	height: auto;
	font-size: 20px;
	padding: 10px;
}


.leftCon {
	width: 100%;
	padding: 10px;
}

.leftCon p {
	font-size: 24px;
	width: 98%;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #353a3c;
}

.imgCon {
	margin-top: 10px;
	font-size: 14px;
	width: 100%;
	text-align: center;
}

.badgeImg {
	margin: auto;
	padding: 5px;
}

.foot {
	margin-top: 14px;
	padding: 18px;
	width: 100%;
	text-align: center;
	border-top-style: solid;
	border-top-color: #353a3c;
	border-top-width: 1px;
}

.feed-item {
	border-bottom: 1px solid #353a3c;
	padding: 10px;
}

.feed-item h3 {
	font-size: 18px;
}

.feed-item p {
	font-size: 14px;
	font-style: italic;
	color: #afa59d;

}
